

@font-face {
    font-family: 'ambassadorplus2';
    src: url('../fonts/ambassadorplus2-webfont.eot');
    src: url('../fonts/ambassadorplus2-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ambassadorplus2-webfont.woff2') format('woff2'),
         url('../fonts/ambassadorplus2-webfont.woff') format('woff'),
         url('../fonts/ambassadorplus2-webfont.ttf') format('truetype'),
         url('../fonts/ambassadorplus2-webfont.svg#ambassadorplussanuploadedfile') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ambassadorplus';
    src: url('../fonts/ambassadorplus-webfont.eot');
    src: url('../fonts/ambassadorplus-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ambassadorplus-webfont.woff2') format('woff2'),
         url('../fonts/ambassadorplus-webfont.woff') format('woff'),
         url('../fonts/ambassadorplus-webfont.ttf') format('truetype'),
         url('../fonts/ambassadorplus-webfont.svg#ambassadorplussanuploadedfile') format('svg');
    font-weight: normal;
    font-style: normal;

}